@font-face {
  font-family: "Kumbh Sans";
  src: url("./fonts/kumbh-sans/kumbh-sans.ttf");
  font-weight: 125 950;
  font-stretch: 75% 125%;
  font-style: normal;
}

#app {
  min-width: 320px;
  color: var(--text-color);
  font-family: var(--body-font-family);
  font-variation-settings:
    "wght" 600,
    "YOPQ" 200;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-variation-settings:
    "wght" 700,
    "YOPQ" 150;
}

input,
button {
  outline: 3px solid transparent;
  outline-offset: 2px;
  transition: outline 0.2s ease-out;
}

input:focus,
button:focus {
  outline: 3px solid var(--theme-color-accent);
  transition: outline 0.1s ease-in-out;
}
