:root {
  --body-font-family: "Kumbh Sans", sans-serif;
  /* Colors */
  --theme-color-1: oklch(65.05% 0.19 251.03);
  --theme-color-2: oklch(46.05% 0.19 251.03);
  --theme-color-3: oklch(23.05% 0.187 251.03);
  --theme-color-accent: oklch(88% 0.17 250);

  --text-color: oklch(100% 0 0);

  /* Viewports */
  --mobile: 320px;
  --tablet: 768px;
  --desktop: 1024px;
}
